*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.hom-navim{
    background: #2d373c;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
    height: 55px;
    align-content: center;
}
.hom-nav-last{
    padding-top: 10px;
}
.hom-navim ul{
    margin: auto;
    font-size: 20px; 
    letter-spacing: 3px ;
    display: flex;
}
.hom-navim li{
    list-style-type: none;
}
.searchtxt{
    width: 250px;
    margin-right: 0;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    margin-left: 10px;
    outline:none;
    padding: 0 3px;
    color: white;
}
.searchbtn{
    margin-right: 25px;
    background: none;
    border: none;
    outline:none;
    cursor: pointer;
    color: white;
}
  
.hom-navim a{
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background: white;
    color: #2d373c;
    font-weight: 600;
    text-decoration: underline; 
    transition: 0.1s;
  }
  
  .dropdown-content {
    margin-top: 1px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    font-size: 16px;
    min-width: 200px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #2d373c;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
      background-color: #2d373c;
      opacity: 0.9;
      color: white;
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/*-------------------Slides-----------------------------------------------------*/
.mySlides {
    display: none;
  }
.mySlides-show{
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding: 2px;
}
.mySlides-img{
    max-height: 400px;
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 15px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    letter-spacing: 2;
    text-align: center;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
  }

  @-webkit-keyframes fade {
    from {opacity: .5} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .5} 
    to {opacity: 1}
  }
  /*---------------------------------------------------------------------------*/
  @media screen and (max-width:768px){
    .hom-navim ul{
        display: block;
        font-size: 16px; 
    }
    .hom-navim li{
        padding: 5px;
    }
    .hom-navim{
        justify-content: flex-start;
        padding: 10px 0;
        display: block;
        height: auto;
    }
    .hom-nav-first{
        margin-left: -15px;
    }
    .hom-nav-last{
        margin-left: 35px;
    }
    .searchtxt{
        width: 300px;
    }
    .dropdown:hover .dropdown-content {
        display: inline-block;
        margin-left: 1px;
        margin-top: 0;
    }
    
    .mySlides-img{
        max-height: 250px;
    }
}
@media screen and (min-width:768px) and (max-width:861px){
    .hom-navim ul{
        font-size: 15px; 
    }
}